@font-face {
    font-family: "Dovemayo-Medium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-size: initial;
}

@font-face {
    font-family: "Katuri";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-size: initial
}

@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-size: initial
}



/******************************
큰 틀
******************************/
* {
    cursor: url("https://cdn.discordapp.com/attachments/897809037448589335/979562507909857290/cur_uuiell_heart.png") 0 0, auto !important;
}

#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply>.reply-header>.reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
    /*cursor: url("https://cdn.discordapp.com/attachments/897809037448589335/979562507909857290/cur_uuiell_heart.png") 0 0, auto !important;*/
}

header .row>div:nth-child(1)>a {
    background-repeat: no-repeat;
    display: block;
    width: 139px;
    height: 50px;
    /* 트게더 로고 */
    /*background-image: url("https://cdn.discordapp.com/attachments/766669209845366787/938278062049591316/logo.png");*/
}

header .row>div:nth-child(1)>a>img {
    display: none;
    filter: grayscale(100%);
    opacity: 0.8;
}

html {
    height: auto !important;
    background: linear-gradient(to bottom, #ffe8f1, #ffe8f1);
    scroll-behavior: smooth;
}

body {
    font-family: "KyoboHand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: transparent;
    padding-top: 180px;
    /* 리소스 많이먹어서 못써먹을듯 */
    /*background-image: url("https://cdn.discordapp.com/attachments/460145928850898945/515694458633846831/snow.png")*/
    /*, url("https://cdn.discordapp.com/attachments/460145928850898945/515694460668084274/snow3.png")*/
    /*, url("https://cdn.discordapp.com/attachments/460145928850898945/515694462278828073/snow2.png");*/
    /*animation: snow 10s linear infinite;*/
}

a {
    color: #fc94ad;
}

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame,
header #right-search-form>input[type=text] {
    border-radius: 4px;
    border: 1px dashed #fc94ad;
    box-shadow: 0 0 0 2px #FBF7FF, 0 0 0 3px #fc94ad, 3px 0px 8px rgba(0, 0, 0, 0.2);
}

.fa.fa-search {
    color: #fc94ad;
}

/******************************
header
******************************/
header #header-bar #header-menu-right #userDropdown img {
    border-radius: 4px;
    border: 1px dashed #fc94ad;
}

header #header-bar .fa {
    color: #fc94ad;
}

header #header-bar #header-top-notice strong.notice-badge {
    background-color: #fc94ad;
}

#favoriteDropdownMenu>li>a>span.label.label-default {
    background-color: #fc94ad;
}

.dropdown-menu {
    border-radius: 4px;
    border: 1px dashed #fc94ad;
    box-shadow: 0 0 0 2px #FBF7FF, 0 0 0 3px #fc94ad, 3px 0px 8px rgba(0, 0, 0, 0.2);
    animation: menuAnimation 600ms ease-in-out forwards;
    transform-origin: top center;
}

.dropdown-menu>li>a:hover {
    background-color: transparent;
    animation: bounce1 2s ease;
}

/******************************
navigation (sidebar)
******************************/
#main .menu-wrapper>.header {
    border-radius: 4px 4px 0 0;
    background-color: #fc94ad;
}

#main .menu-wrapper div.spacer {
    height: 1px;
    border-bottom: 1px dashed #fc94ad;
}

#main .menu-wrapper>a {
    padding: 6px 16px 6px 6px;
}

#main .menu-wrapper>a:hover,
#main .menu-wrapper #fav-shortcut-area>a:hover {
    background: #ede8ff;
}

#main .menu-wrapper>a:last-child {
    border-radius: 0 0 4px 4px;
}

#main .menu-wrapper>a>em {
    color: #fc94ad;
}

/******************************
board
******************************/

#board-info #board-info-profile-img {
    width: 45px;
    height: auto;
    border-radius: 4px;
    border: 1px dashed #fc94ad;
    background-color: #DCE4FF;
    /*position: absolute;*/
    float: left !important;
    animation: rotation 3s infinite linear !important;
    /*top: -8px;*/
    z-index: 1;
}

#board-info>h1 {
    margin-left: 95px;
    border-bottom: 1px dashed #fc94ad;
}

#board-info #viewers-area {
    /*float: right;*/
    color: #fc94ad;
}

#board-info #viewers-area, #board-info #score-area {
    color: #8a94ef !important;
    font-size: 18px !important;
    font-weight: bold !important;
}

#board-info #viewers-area #viewers:before {
    content: "엘이의 소중한 ";
    cursor: text;
    color: #fc94ad;
    font-weight: bold;
    font-size: large;
}

#board-info #viewers-area #viewers:after {
    content: "명의 트수";
    cursor: text;
    color: #fc94ad;
    font-weight: bold;
    font-size: large;
}

#board-info #viewers-area .fa-user:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("https://pogeun.github.io/tgd-CSS/borav12/resource/viewer.png") no-repeat center;
}

#board-info #board-info-bottom {
    margin-left: 95px;
}

#board-info #board-info-bottom a {
    color: #fc94ad;
}

.frame {
    background-color: #f6f4ff !important;
}


@media screen and (min-width: 1400px) {
    #article-list #article-list-category.can-float {
        border-radius: 4px;
        border: 1px dashed #fc94ad;
        box-shadow: 0 0 0 2px #FBF7FF, 0 0 0 3px #fc94ad, 3px 0px 8px rgba(0, 0, 0, 0.2);
    }

    /*#article-list #article-list-category.can-float>a.active {*/
    /*    background: #c9baff;*/
    /*}*/

    #article-list #article-list-category.can-float>a:hover {
        background: #ede8ff;
    }
}



#article-list #article-list-category.can-float {
    border-top: 1px dashed #fc94ad;
}

/* #article-list #article-list-category {
    border-top: 2px solid #fc94ad;
    background-color: white;
}

#article-list #article-list-category>a {
    background-color: white;
}

#article-list #article-list-category>a:hover {
    background-color: transparent;
} */

#article-list>.article-list-row.notice{
    margin-bottom: 4px;
    border-radius: 4px;
    border: 1px dashed #fc94ad;
    font-weight: bold;
    font-size: initial;
    background-color: #fff8fb !important;
}

#article-list>.article-list-row {
    margin-bottom: 4px;
    border-radius: 4px;
    border: 1px dashed #fc94ad;
    font-weight: bold;
    font-size: initial;
    background-color: #fff7fa;
}

#article-list>.article-list-row>.item>.list-checkbox,
#article-list>.article-list-row>.item>.list-header,
#article-list>.article-list-row>.item>.list-category,
#article-list>.article-list-row>.item>.list-title,
#article-list>.article-list-row>.item>.list-blocked,
#article-list>.article-list-row>.item>.list-time {
    border-bottom: none;
    font-size: 16px !important;
}

#article-list>.article-list-row>.item>.list-header>span {
    background-color: #584949 !important;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: #3ba3ff !important;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: #cd00ff !important;
    font-size: inherit;
    font-weight: bold;
}

#article-list>.article-list-row>.item>.list-title>.list-category,
#article-list>.article-list-row>.item>.list-title>.list-writer {
    border-color: black;
}

#article-list>.article-list-row>.item>.list-title>.list-category>span {
    max-width: 83px !important;
}

#article-list>.article-list-row>.item>.list-title>a:visited {
    color: #717277 !important;
}


#article-list>.article-list-row:hover {
    background-color: transparent;
    animation: bounce1 2s ease;
}

#article-list #article-list-menu>.btn.best {
    color: #ffb4b4;
    border-color: #ffb4b4;
}

#article-list #boardSearchForm .form-control {
    border-radius: 4px;
    border: none;
}

.btn.square {
    border-radius: 4px;
}

.btn.square.btn-default[type=button],
.btn.square.btn-default[type=submit] {
    border: none;
}

.btn.square.btn-default[type=button] {
    margin-right: 10px;
}

.btn.square.btn-default[type=button]:hover {
    background-color: transparent;
    color: #fc94ad;
}

.btn.square.btn-default[type=submit] {
    margin-left: 10px;
}

.btn.square.btn-default[type=submit]:hover {
    background-color: transparent;
}

.pagination>li>a,
.pagination>li>span {
    margin-right: 5px;
    color: #fc94ad;
    border-radius: 4px;
    border: none;
}

.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #fc94ad;
}

.pagination>li>a:hover,
.pagination>li>span:hover {
    color: #fc94ad;
    background-color: #EDE2FF;
}

.pagination>.active>a,
.pagination>.active>span {
    background-color: #fc94ad;
    border-color: #fc94ad;
}

.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #fc94ad;
    border-color: #fc94ad;
}

.btn-primary {
    background-color: #fc94ad;
}

#article-content-wrapper>.header,
.fr-toolbar.fr-top {
    border-top-color: #fc94ad;
}

/******************************
footer
******************************/
footer>span>a {
    color: #00aaff !important;
}

/* footer {
    padding: 2em 0 0 0;
}



footer:after {
    content: "";
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 15px;
    background: url("resource/test.png") no-repeat;
    background-position: center center;
    position: relative;
} */

/*# sourceMappingURL=index.css.map */


/* --------------- 특수 --------------- */
/* 광고 */
#article-list > div:nth-child(3) {
    background: #ffe8f1 !important;
    display:none !important;
}

ad-shield-ads{
    display:none !important;
}

#article-list>.article-list-row.featured{
    display:none !important;
}




.fa-heart {

}

fa.fa-info-circle {
    color: #000000;
    vertical-align: -2px !important;
}

.fa-heart {
    color: #ff3939 !important;
}

.fa-picture-o{
    color: #44a800 !important;
}

.fa-commenting-o {
    color: #1f2227 !important;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

@keyframes menuAnimation {
    0% {
        transform: rotateX(-90deg);
    }

    80% {
        transform: rotateX(20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes rotation {
    0% {
        /*transform: rotate(-1deg);*/
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes bounce1 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.02, 0.8) translateY(0);
    }

    30% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes bounce2 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, 0.6) translateY(0);
    }

    30% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}


@keyframes imgBounce {
    0% {
        transform: translateY(-10px);
    }
    25% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-10px);
    }
}
